/* Responsive font size makes the <h1>, <h2> and <p> smaller on a smaller screen */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 1.2em;
	}
	h2 {
		font-size: 1em;
	}
	p {
		font-size: 0.8em;
	}
}

/* Universal box sizing */
* {
	box-sizing: border-box;
}

/* Style the header */
.header {
	background-color: #c6c6c6;
	font-family: "Gloria Hallelujah", sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 10px;
	position: relative;
}

.header-text {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.login-form {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-10%);
	display: flex;
	font-size: 14px;
}

.search-form {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-10%);
	display: flex;
	font-size: 14px;
}

h1,
h2,
h3,
h4 {
	font-family: "Gloria Hallelujah", sans-serif;
	text-align: left;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

p {
	font-family: "Lato", sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

.topnav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	background-color: #d2d2d2;
	font-family: "Gloria Hallelujah", sans-serif;
	font-size: 15px;
	padding: 20px;
}

.topnav a {
	color: white;
	text-decoration: none;
}

.search-container {
	display: flex;
	align-items: center;
	gap: 5px; /* Tight spacing between label and field */
}

.search-label {
	color: white;
}

a:hover {
	color: red;
}

.main1 {
	display: flex;
	justify-content: center;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
	background-color: #a1a1a1;
	color: white;
}

.main1 h2 {
	text-align: center;
}

.main2 {
	display: flex;
	justify-content: center;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
	background-color: #686868;
	color: white;
}

.main2 h2 {
	text-align: center;
}
/* Create two equal columns that float next to each other */
.column {
	float: left;
	width: 50%;
	padding: 15px;
	background-color: #e6ffff;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other
  instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.footer {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	background-color: #404040;
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 11px;
	text-align: center;
	padding: 10px;
}

.footer span:first-child {
	padding-left: 20px;
}

.footer span:last-child {
	margin-left: auto;
	padding-right: 20px;
}
